<div id="<%= dom_id grade_point_average %>">
  <p>
    <strong>Exam:</strong>
    <%= grade_point_average.exam %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= grade_point_average.cch %>
  </p>

  <p>
    <strong>Final average:</strong>
    <%= grade_point_average.final_average %>
  </p>

</div>
